# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
 # Ignore pickle files
*.log


# Ignore database and indexes
db/



# Ignore virtual environment


# Ignore dependency logs
*.lock

raw_structured_dumps/
*.pdf
.env
.env
