chromadb
langchain==0.1.20
langchain-core==0.1.53
tiktoken
langchain-community==0.0.38
langchain-together==0.1.5
sentence-transformers
boto3
requests
transformers
datasets
faiss-cpu
python-docx
pandas
qdrant-client
pymilvus
weaviate-client
langchain-weaviate
playwright>=1.49.0
PyPDF2
undetected-chromedriver
webdriver-manager
pinecone
google-generativeai
python-multipart
crawl4ai>=0.1.26
scrapy 
scrapy-splash
openai
tldextract
accelerate
huggingface_hub
groq
python-dotenv
fastapi
langdetect
httpx==0.28.1
deep-translator
langchain-text-splitters==0.0.1