chromadb
langchain
tiktoken
langchain-community
langchain_together
sentence-transformers
boto3
requests
transformers
datasets
faiss-cpu
python-docx
pandas
qdrant-client
pymilvus
weaviate-client
langchain-weaviate
playwright
PyPDF2
undetected-chromedriver
webdriver-manager
pinecone
google-generativeai
python-multipart
